<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Standalone Template.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SuperCollider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sclang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94442C500C2C8AE40050BF9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949314DC0C192A550018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94B6ABBF0AF45D2900E478BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5B7410802E9534D01CA2799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
